<div class="container">
  <flash-messages></flash-messages>
  <div class="col-md-4">
    <h1>Your Provile:</h1>
    <br />
    <h4>Name: <span>{{profileInfo.name}}</span></h4>
    <h4>Email: <span>{{profileInfo.email}}</span></h4>
    <h4>City: <span *ngIf="profileInfo.city else emptyCity">{{profileInfo.city}}</span></h4>
    <h4>State: <span *ngIf="profileInfo.state else emptyState">{{profileInfo.state}}</span></h4>
  </div>
  <ng-template #emptyCity><span>not given</span></ng-template>
  <ng-template #emptyState><span>not given</span></ng-template>

  <div class="col-md-4">
    <h1>Updata Profile:</h1>
    <form novalidate [formGroup]="UpdateForm" (ngSubmit)="updateProfile(UpdateForm)" >
      <label class="Ulabel">City:
        <input class="form-control" type="text" formControlName="city" />
      </label>
      <label class="Ulabel">State:
        <input class="form-control" type="text" formControlName="state" />
      </label>
      <button class="btn btn-info" type="submit">Update your profile</button>
    </form>
  </div>

  <div class="col-md-4">
    <h1>Change Password:</h1>
    <form novalidate [formGroup]="changeForm" (ngSubmit)="changePassword(changeForm)">
      <label class="Ilabel">Current Password:
        <input class="form-control" type="text" formControlName="currentPassword" />
          <p *ngIf="changeForm.get('currentPassword').touched && changeForm.get('currentPassword').hasError('required')">You must input your current password!</p>
      </label>
      <label class="Ilabel">New Password:
        <input class="form-control" type="text" formControlName="newPassword" />
        <p *ngIf="changeForm.get('newPassword').touched && changeForm.get('newPassword').hasError('required')">You must input new password!</p>
      </label>
       <br />
      <button class="btn btn-info" [disabled]="changeForm.invalid" type="submit">Change Password</button>
    </form>
  </div>

  <img class="downImgR" src="../../../assets/settings.png" />
</div>
