<div class="container">
  <div class="content">
    <h2>This site allows you to:</h2>
    <h4>See all of your pokemons</h4>
    <h4>See all pokemons of others</h4>
    <h4>Request to trade pokamon with other user</h4>
    <h4>Manage requests from your dashboard</h4>
    <h4>To do all that, you need to register/login first!</h4>
    <h4>So go ahead and do that!</h4>
    <h4>Oh.. and you can also chagne your password and some settings!</h4>
  </div>
  <div class="info">
    <img src="../../../assets/home.png" />
  </div>
</div>
